
    body {
      background-color: lightblue;
    }
  
  
  p{
    background: #cce5ff;
    color: rgb(0, 139, 67);
    margin: 5px;
    border-radius: 5px;
  }
  

  iframe {
    position: relative;
    z-index: 1;
    top: -70px;
  }
#useLocation{
  border-radius: 15px;}
  
  #fromLocation {
    width: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
  }
  
  .big-offcanvas {
    height: 55% !important; 
    border-radius: 20px;
  }
  
